<!DOCTYPE html>
<html lang="en">
<head>
    <style>
abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}
input[type=text]{
    border-radius: 25px;
}
#formBox{
    width:fit_content;
    position: absolute;
    right: 40%;
    top: 30%;
    margin:auto;
    padding: 40px;
    border-radius: 25px;
    background-color:blue;
    text-align:center;
}
.labels{
    font-weight:bold;
    text-align: right;
}
</style>
    <meta charset="UTF-8">
    <title>New User</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script type="text/babel" src="{{url_for('static',filename='newUserForm.js')}}"></script>
</head>
<body>
    <div id="formBox"></div>
</body>
</html>